/* Tags */
.blanco {
	background:var(--color2) !important;
}

.blanco-text {
	color:var(--color2);
}

.azul-ecos {
	background:var(--color3) !important;
}

.azul-ecos-text {
	color:var(--color3) !important;
}

.azul-gota-ecos {
	background:var(--color4) !important;
}

.azul-gota-ecos-text {
	color:var(--color4) !important;
}

.naranja-ecos {
	background:var(--color5) !important;
}

.naranja-ecos-text {
	color:var(--color5) !important;
}

.verde-oscuro-ecos {
	background:var(--color6) !important;
}

.verde-oscuro-ecos-text {
	color:var(--color6) !important;
}

.verde-claro-ecos {
	background:var(--color7) !important;
}

.verde-claro-ecos-text {
	color:var(--color7) !important;
}

.gris-oscuro-ecos {
	background:var(--color8) !important;
}

.gris-oscuro-ecos-text {
	color:var(--color8) !important;
}

.gris-claro-ecos {
	background:var(--color9) !important;
}

.gris-claro-ecos-text {
	color:var(--color9) !important;
}




/* */
body {
	background:#FFFFFF;
}
footer .footer-copyright .fa {
	margin:0 1em;
}
	
footer {
	float:left;
	width:100%;
}
	
/* Slider */
#slides {
	margin-top:1em;
}

.slidesjs-play, .slidesjs-stop {
	background:#01579b;
	border-radius:10%;
	text-decoration:none;
	padding:.5em 1em;
	float:left;
	color:var(--color2);
	margin-right:.5em;
	margin-top:.5em;
}

.slidesjs-previous, .slidesjs-next {
	background:#01579b;
	border-radius:10%;
	text-decoration:none;
	padding:.5em 1em;
	float:left;
	color:var(--color2);
	margin-right:.5em;
	margin-top:.5em;
}

.slidesjs-previous:hover, .slidesjs-next:hover, .slidesjs-pagination li a:hover {
	background:var(--color2);
	color:var(--color1);
	transition:ease .5s all;
}


.slidesjs-pagination {
	list-style:none;
	float:left;
}

.slidesjs-pagination li {
	float:left;
}

.slidesjs-pagination li a {
	display:none;
	background:var(--color4);
	border-radius:40%;
	float:left;
	color:var(--color2);
	padding:.5em 1em;
	text-decoration:none;
	margin:.5em 0px 0px .5em;
}

#brandlogomobile {
	display:none;
	color:;
}

@media only screen and (max-width: 800px) {

	#brandlogodesktop {
		display:none;
	}
	
	#brandlogomobile {
		display:block;
		aling:center;
	}
	
}




