<!-- F O O T E R -->

<footer class="page-footer gris-claro-ecos">
	<div class="footer-copyright verde-oscuro-ecos">
		<div class="container">
			&copy; 2018 • Ecos de la Tierra Proyectos Productivos y Medio Ambiente A.C
			<a onclick="M.toast({html: '+529616903336'})" class="azul-gota-ecos btn waves-effect waves-light right" href="tel:+529616903336">Llamar</a>
		</div>
	</div>
<div class="fixed-action-btn">
	<a class="btn-floating btn-large red azul-ecos">
		<i class="fa fa-cog"></i>
	</a>
	<ul>
		<li><a class="btn-floating azul-ecos" href="https://www.facebook.com/ecosdelatierraacorg" target="_blank"><i class="fa fa-facebook"></i></a></li>
		<li><a class="btn-floating light-blue" href="https://twitter.com/ecos_ac" target="_blank"><i class="fa fa-twitter"></i></a></li>
		<li><a class="btn-floating azul-ecos" href="https://www.linkedin.com/in/ecosdelatierraac/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
		<li><a class="btn-floating azul-ecos" href="tel:+529616903336" onclick="M.toast({html: '+529616903336'})" target="_blank"><i class="fa fa-phone"></i></a></li>
	</ul>
</div>
<!-- B O T O N   F L O T A N T E -->
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.fixed-action-btn');
		var instances = M.FloatingActionButton.init(elems, options);
	});
	$(document).ready(function(){
		$('.fixed-action-btn').floatingActionButton();
	});
</script>
<!-- F I N   B O T O N    F L O T A N T E -->
</footer>
<!-- F IN   F O O T E R -->
