<!-- F O O T E R -->

<footer class="page-footer gris-claro-ecos">
	<div class="footer-copyright verde-oscuro-ecos">
		<div class="container">
			&copy; 2018 • Ecos de la Tierra AC • Proyectos Productivos y Medio Ambiente
			<a onclick="M.toast({html: '+529616903336'})" class="azul-gota-ecos btn waves-effect waves-light right" href="tel:+529616903336">Llamar</a>
		</div>
	</div>
<div class="fixed-action-btn">
	<a class="btn-floating btn-large red azul-ecos">
		<i class="fa fa-mail"></i>
	</a>
	<ul>
		<li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
		<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
		<li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
		<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
	</ul>
</div>
</footer>
<!-- F IN   F O O T E R -->
