<!-- F O O T E R -->

<footer class="page-footer gris-claro-ecos">
	<div class="footer-copyright verde-oscuro-ecos">
		<div class="container">
			&copy; 2018 • Ecos de la Tierra AC • Proyectos Productivos y Medio Ambiente
			<a onclick="M.toast({html: '+529616903336'})" class="azul-gota-ecos btn waves-effect waves-light right" href="tel:+529616903336">Llamar</a>
		</div>
	</div>
<div class="fixed-action-btn">
	<a class="btn-floating btn-large red azul-ecos">
		<i class="fa fa-mail"></i>
	</a>
	<ul>
		<li><a class="btn-floating azul-ecos"><i class="fa fa-facebook"></i></a></li>
	</ul>
</div>
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
</script>
</footer>
<!-- F IN   F O O T E R -->
