	<head>
		<title>{{ page.title }}</title>
			<!-- META TAGS -->
		<meta charset="UTF-8"/>
		<meta name="theme-color" content="#1a237e"/>
		<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no"/>
			<!-- STYLESHEET -->
		<link rel="icon" href="{{ site.baseurl }}/assets/imagenes/logo1.png" type="image/png"/>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/materialize/css/materialize.min.css"/>
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/colores.css"/>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css"/>
			<!-- JAVASCRIPT -->
		<script src="{{ site.baseurl }}/assets/jquery/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/materialize/js/materialize.min.js"></script>
		<script src="{{ site.baseurl }}/js/javascript.js"></script>
		<script src="{{ site.baseurl }}/assets/slidesjs/jquery.slides.min.js"></script>
	</head>
