	<head>
		<title>{{ page.title }}</title>
			<!-- META TAGS -->
		<meta charset="UTF-8"/>
		<meta name="theme-color" content="#11AE0E"/>
			<!-- STYLESHEET -->
		<link rel="icon" href="https://amrqcwtz.files.wordpress.com/2018/10/img_20181005_235114.png" type="image/png"/>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/materialize/css/materialize.min.css"/>
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/colores.css"/>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/stylesheet.css"/>
			<!-- JAVASCRIPT -->
		<script src="{{ site.baseurl }}/assets/jquery/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/materialize/js/materialize.min.js"></script>
		<script src="{{ site.baseurl }}/js/javascript.js"></script>
		<script src="{{ site.baseurl }}/assets/slidesjs/jquery.slides.min.js"></script>
	</head>
