	<!-- H E A D E R -->
	<header>
		<nav>
			<div class="nav-wrapper indigo darken-4">
				<a href="{{ site.baseurl }}" class="brand-logo"><img src="{{ site.baseurl }}/assets/imagenes/logo2.png" style="width:2em; height:auto; margin-right:.5em; margin-top:.1em; float:left; background:#FFFFFF; border-radius:50% 10% 50% 50%; border:solid 2px var(--color4);"/><b class="blanco-text"><small>Ecos</b> de la <b>Tierra</b> Proyectos Productivos y Medio Ambiente A.C</small></a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa fa-bars waves-effect"></i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="{{ site.baseurl }}">Inicio</a></li>
					<li><a href="badges.html">Quiénes Somos</a></li>
					<li><a href="collapsible.html">Proyectos</a></li>
					<li><a href="mobile.html">Equipo</a></li>
				</ul>
			</div>
		</nav>
		<ul class="sidenav" id="mobile-demo">
			<li><a href="sass.html">Inicio</a></li>
			<li><a href="badges.html">Quiénes Somos</a></li>
			<li><a href="collapsible.html">Proyectos</a></li>
			<li><a href="mobile.html">Equipo</a></li>
		</ul>
	</header>
	<!-- F I N    H E A D E R -->
