	<head>
		<title>Ecos de la Tierra AC • Sitio Oficial</title>
			<!-- META TAGS -->
		<meta charset="UTF-8"/>
		<meta name="theme-color" content="#11AE0E"/>
			<!-- STYLESHEET -->
		<link rel="stylesheet" href="assets/materialize/css/materialize.min.css"/>
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="css/colores.css"/>
		<link rel="stylesheet" href="css/stylesheet.css"/>
			<!-- JAVASCRIPT -->
		<script src="assets/jquery/jquery.min.js"></script>
		<script src="assets/materialize/js/materialize.min.js"></script>
		<script src="js/javascript.js"></script>
		<script src="assets/slidesjs/jquery.slides.min.js"></script>
		<script>
		// Slider
		$(function(){
		$("#slides").slidesjs({
			width: 1000,
			height: 333,
				play: {
					active: true,
					auto: true,
					interval: 6000,
					swap: true,
  	   	   }
			});
		});
		</script>
	</head>
