<!-- M A P A -->
<div class="container">
	<div class="row">
		<div class="col s8 m8 l8">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.3779828209786!2d-93.11590868513237!3d16.75785998845871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTbCsDQ1JzI4LjMiTiA5M8KwMDYnNDkuNCJX!5e0!3m2!1ses!2sus!4v1539704824225" frameborder="1" style="border:0; height:20em;" width="100%" allowfullscreen></iframe>
		</div>
		<div class="col s4 m4 l4 card" style="background:#FFFFFF; height:20em;">
			<h3 class="center">Visitanos:</h3>
			<adress>5a Norte Oriente #261_2o piso. Barrio San Jacinto, Colonia Centro. (Entre 1a y 2a oriente, edificio blanco a lado de Ferretería Mandiola).</adress>
			<a class="btn waves-effect waves-light azul-ecos center" style="margin-top:1em; width:100%;" target="_blank" href="https://maps.google.com/maps?ll=16.757101,-93.113089&z=16&t=m&hl=es-419&gl=US&mapclient=embed">Google Maps</a>
		</div>
	</div>
</div>
<!-- F I N   M A P A S -->
