<!-- S L I D E R -->
<div class="container">
	<div class="row">
		<div class="col s12 m12 s12">
			<div id="slides">
				<img src="https://amrqcwtz.files.wordpress.com/2018/10/img_20181006_134402.jpg">
				<img src="https://amrqcwtz.files.wordpress.com/2018/10/img_20181006_134444.jpg">
				<img src="https://amrqcwtz.files.wordpress.com/2018/10/img_20181006_134421.jpg">
				<img src="https://amrqcwtz.files.wordpress.com/2018/10/img_20181006_134402.jpg">
				<img src="https://amrqcwtz.files.wordpress.com/2018/10/img_20181006_134444.jpg">
				<img src="https://amrqcwtz.files.wordpress.com/2018/10/img_20181006_134421.jpg">
				<img src="https://amrqcwtz.files.wordpress.com/2018/10/img_20181006_134402.jpg">
				<img src="https://amrqcwtz.files.wordpress.com/2018/10/img_20181006_134444.jpg">
				<img src="https://amrqcwtz.files.wordpress.com/2018/10/img_20181006_134402.jpg">
				<img src="https://amrqcwtz.files.wordpress.com/2018/10/img_20181006_134421.jpg">
			</div>
		</div>
	</div>
</div>
<!-- F I N    S L I D E R -->
