:root {
	--color1:#000000;	/* Negro */
	--color2:#FFFFFF;	/* Blanco */
	--color3:#234A75;	/* Azul */
	--color4:#00474E;	/* Azul (Gota) */
	--color5:#E77817;	/* Naranja */
	--color6:#11AE0E;	/* Verde Oscuro */
	--color7:#70C41A;	/* Verde Claro (Limón) */
}