<!-- CREADO POR JOSE A. CARBAJAL -->
<!DOCTYPE html>
<html lang="es-MX">
{% include head.html %}
<body>
{% include header.html %}
<div class="container">
{{ content }}
</div>
<!-- S L I D E R -->
<div class="container">
	<div class="row">
		<div class="col s12 m12 s12">
			<div id="slides">
				<img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/1.jpg">
				<img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/2.jpg">
        			<img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/3.jpg">
				<img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/4.jpg">
       			        <img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/5.jpg">
			</div>
		</div>
	</div>
</div>
<!-- F I N    S L I D E R -->
{% include footer.html %}
		<script>
		// Slider
		$(function(){
		$("#slides").slidesjs({
			width: auto,
			height: auto,
				play: {
					active: true,
					auto: true,
					interval: 6000,
					swap: true,
  	   	   }
			});
		});
		</script>
</body>
</html>
