<!-- CREADO POR JOSE A. CARBAJAL -->
<!DOCTYPE html>
<html lang="es-MX">
{% include head.html %}
<body class="gris-claro-ecos">
{% include header.html %}
	<!-- C O N T E N I D O -->
	<div class="container">
		<h2 class="center azul-ecos-text">{{ page.title }}</h2>
		<div align="justify">
			{{ content }}
		</div>
	</div>
	<!-- F I N   D E   C O N T E N I D O -->
<!-- S L I D E R -->
<div class="container">
	<div class="row">
		<div class="col s12 m12 s12">
			<div id="slides">
				<img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/1.jpg">
				<img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/2.jpg">
        			<img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/3.jpg">
				<img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/4.jpg">
       			        <img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/5.jpg">
				<img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/6.jpg">
				<img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/7.jpg">
        			<img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/8.jpg">
				<img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/9.jpg">
       			        <img src="{{ site.baseurl }}/proyectos/{{ page.ruta }}/galeria/10.jpg">
			</div>
		</div>
	</div>
</div>
<!-- F I N    S L I D E R -->
{% include footer.html %}
<!-- S L I D E R -->
<script>
// Slider
	$(function(){
	$("#slides").slidesjs({
		width: 960,
		height: 720,
			play: {
				active: true,
				auto: true,
				interval: 6000,
				swap: true,
			}
		});
	});
</script>
<!-- F I N   D E    S L I D E R -->
</body>
</html>
