<!-- CREADO POR JOSE A. CARBAJAL -->
<!DOCTYPE html>
<html lang="es-MX">
{% include head.html %}
<body class="gris-claro-ecos">
{% include header.html %}
{% include slider.html %}
{{ content }}
{% include ecosac.html %}
{% include mapa.html %}
{% include footer.html %}
<!-- S L I D E R -->
<script>
	// Slider
	$(function(){
	$("#slides").slidesjs({
		width: 1000,
		height: 333,
			play: {
				active: true,
				auto: true,
				interval: 6000,
				swap: true,
			}
	});
	});
</script>
<!-- F I N   D E   S L I D E R -->
</body>
</html>
